
<h2>Ваш заказ принят! Спасибо!</h2>
 <% @total_price = 0 %>
    <% @total_quantity = 0 %>
    <% @total_item = "" %>
    <% @orders_input = "" %>
    <% @items = "" %>

<script type="text/javascript">
    $(function() {

      window.localStorage.clear();
      
    });
</script>